@import url("https://fonts.googleapis.com/css2?family=Gugi&family=Ubuntu:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Unica+One&display=swap");
/*  MEDIA QUERIES */
/* mixin for specific breakpoint (flexible) */
nav {
  position: fixed;
  top: 0;
  height: 7vh;
  width: 100vw;
  display: flex;
  align-items: center;
  z-index: 2;
}
nav .nav-links {
  display: flex;
  list-style: none;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-left: auto;
  margin-right: 2vw;
  z-index: 3;
}
nav .nav-links li a {
  color: #00ffff;
  text-decoration: none;
  font-size: 1.2rem;
}
@media (max-width: 720px) {
  nav .nav-links li a {
    font-size: 3rem;
  }
}
nav .nav-links li a:hover {
  color: hsl(60, 100%, 50%);
}
@media (max-width: 960px) {
  nav .nav-links {
    position: fixed;
    height: 70vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -10%);
    pointer-events: none;
  }
}

nav.open {
  height: 100vh;
  transition: all 1s ease-in-out;
  background: rgba(0, 0, 0, 0.9);
}

@media (max-width: 960px) {
  .nav-links.open {
    clip-path: circle(3000px at 90% -10%);
    -webkit-clip-path: circle(3000px at 90% -10%);
    pointer-events: all;
  }
}

.hamburger {
  display: none;
}
@media (max-width: 960px) {
  .hamburger {
    display: block;
    position: fixed;
    cursor: pointer;
    right: 5%;
    top: 5%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }
}

.hamburger .bar {
  width: 40px;
  height: 5px;
  margin: 5px;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

.hamburger .bar:nth-child(1) {
  background: hsl(300, 100%, 50%);
}

.hamburger .bar:nth-child(2) {
  background: #00ffff;
}

.hamburger .bar:nth-child(3) {
  background: hsl(60, 100%, 50%);
}

/* Cross animation for hamburger menu */
.hamburger.open .bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.open .bar:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

#skills-container {
  padding: 10em 2rem;
  border: red solid 2px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#skills-container .skills {
  border: green solid 2px;
  width: clamp(300px, 100%, 900px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 5em 0;
}

.skills .hex {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 150px;
  height: 170px;
  margin-bottom: 1.5rem;
}
.skills .hex:before {
  content: "";
  position: absolute;
  bottom: -70px;
  width: 100%;
  height: 60px;
  background: radial-gradient(rgba(0, 0, 0, 0.15), transparent, transparent);
  border-radius: 50%;
  transition: 0.5s;
}
.skills .hex:hover::before {
  opacity: 0.8;
  transform: scale(0.8);
}
@media (max-width: 960px) {
  .skills .hex {
    width: 120px;
    height: 130px;
  }
}

.skills .hex .shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.03);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  -webkit-clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
          clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
  transition: 0.5s;
}

.skills .hex:hover .shape {
  transform: translateY(-10px);
}

.skills .hex .shape img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.skills .hex .shape .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-align: center;
  background: linear-gradient(45deg, #00ffff, rgba(248, 53, 232, 0.7));
  color: white;
  text-shadow: 2px 2px 2px black;
  transition: 0.5s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: hsl(260, 90%, 4%);
  text-transform: uppercase;
  font-family: "Unica One";
  color: #00ffff;
  z-index: 2;
}

h1 {
  font-size: clamp(4rem, 10vw, 8rem);
}

h2 {
  font-size: clamp(1.5rem, 5vw, 3rem);
}

h3 {
  font-size: clamp(3rem, 5vw, 4rem);
}

#home-container {
  width: 100%;
  padding: 20em 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#title {
  text-align: center;
}/*# sourceMappingURL=style.css.map */