@use "./index" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $background;
    @include text;
}

h1 {
    font-size: clamp(4rem, 10vw, 8rem);
}

h2 {
    font-size: clamp(1.5rem, 5vw, 3rem);
}

h3 {
    font-size: clamp(3rem, 5vw, 4rem);
}

#home-container {
    width: 100%;
    padding: 20em 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title {
    text-align: center;
}

