@use "./index" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

body {
    background: $background;
    @include text;
}

h1 {
    font-size: clamp(4rem, 10vw, 8rem);
}

h2 {
    font-size: clamp(1.5rem, 5vw, 3rem);
}

h3 {
    font-size: clamp(3rem, 5vw, 4rem);
}

h4 {
    font-size: clamp(1rem, 5vw, 1.5rem);
}

#home-container {
    width: 100%;
    padding: 15em 2em 25em 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    & #title {
        text-align: center;
    }
}


