@import url("https://fonts.googleapis.com/css2?family=Gugi&family=Ubuntu:wght@500&display=swap");
/*  MEDIA QUERIES */
/* mixin for specific breakpoint (flexible) */
section#contact {
  background: url("./images/space.jpg") no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  width: 50vw;
  margin-top: 60px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  color: white;
}

.form-wrapper {
  margin: 0 5vw 0 5vw;
}
.form-wrapper .form-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.form-wrapperlabel, .form-wrapper input, .form-wrapper textarea {
  display: block;
}
.form-wrapper input, .form-wrapper textarea, .form-wrapper button {
  width: 31vw;
  border: none;
  border-radius: 20px;
  outline: none;
  padding: 10px;
  font-size: 1em;
  font-family: "Ubuntu";
  text-transform: none;
  transition: border 0.5s;
  border: solid 3px #7E53A2;
}
.form-wrapper label {
  font-size: 1.5em;
  margin-top: 20px;
  padding-bottom: 5px;
}
.form-wrapper textarea {
  height: 12vh;
  resize: none;
  overflow: auto;
}
.form-wrapper input:focus, .form-wrapper textarea:focus {
  border: solid 3px #3AB5E1;
}
.form-wrapper button {
  height: 6vh;
  width: 20vw;
  cursor: pointer;
  margin-top: 30px;
  background-color: #160E26;
  color: white;
  text-transform: uppercase;
  z-index: 1;
}
.form-wrapper button i {
  margin-right: 1vw;
}
.form-wrapper button:hover {
  background-color: #3AB5E1;
  border-color: white;
}

.form-group {
  margin: 20px 20px;
}

@media (max-width: 768px) {
  section#about {
    justify-content: center;
  }
  section#about .about-container {
    margin-left: none;
  }
  .form-wrapper label {
    font-size: 1rem;
  }
  .project-wrapper {
    transform: rotate(270deg);
  }
  .project-card {
    margin: 10vw 10vw;
  }
  .project-card:active {
    transform: scaleX(0.8);
  }
  .contact-container {
    height: 70vh;
    width: 80vw;
  }
  .form-group label,
  .form-group input,
  .form-group textarea {
    width: 60vw;
  }
  .form-group button {
    width: 100px;
    margin-top: 10px;
  }
}
nav {
  position: fixed;
  top: 0;
  height: 10vh;
  width: 100vw;
  display: flex;
  align-items: center;
  z-index: 2;
}
nav .nav-links {
  display: flex;
  list-style: none;
  width: 30%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  margin-right: 2vw;
}
nav .nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}
@media (max-width: 720px) {
  nav .nav-links li a {
    font-size: 3rem;
  }
}
nav .nav-links li a:hover {
  color: lightblue;
}
@media (max-width: 720px) {
  nav .nav-links {
    position: fixed;
    height: 70vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
}

nav.open {
  height: 100vh;
  transition: all 1s ease-out;
  background: rgba(0, 0, 0, 0.9);
}

@media (max-width: 720px) {
  .nav-links.open {
    clip-path: circle(3000px at 90% -10%);
    -webkit-clip-path: circle(3000px at 90% -10%);
    pointer-events: all;
  }
}

.hamburger {
  display: none;
}
@media (max-width: 720px) {
  .hamburger {
    display: block;
    position: fixed;
    cursor: pointer;
    right: 5%;
    top: 5%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }
}

.hamburger .bar {
  width: 30px;
  height: 3px;
  margin: 5px;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

/* Cross animation for hamburger menu */
.hamburger.open .bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.open .bar:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

section#projects {
  background: url("./images/astroidsBtm.png") no-repeat center center/cover;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
  background: rgb(5, 5, 5);
  text-transform: uppercase;
  font-family: "Gugi";
  color: #faf5f5;
  z-index: 2;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.container {
  min-height: 100%;
  min-width: 100%;
}

.lead {
  font-size: 1.5rem;
}

.satellite {
  background: url("./images/satellite1.png") no-repeat center center/cover;
  height: 30px;
  width: 40px;
  position: relative;
  transition: all 30s linear;
  z-index: 1;
  animation: rotation 30s infinite;
}
@keyframes rotation {
  100% {
    transform: rotate(360deg);
  }
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
  flex-direction: column;
  text-align: center;
  width: 100vw;
  height: 90vh;
  /* box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7); */
}

section h1 {
  text-transform: uppercase;
  font-family: "Gugi";
  color: #faf5f5;
  z-index: 2;
  font-size: 4rem;
  z-index: 2;
}

section#home {
  background: url("./images/astroidsTop.png") no-repeat center center/cover;
}

section#about {
  background: url("./images/astroidsMid.png") no-repeat center center/cover;
}

#header {
  text-shadow: 0px 15px 5px rgba(232, 221, 221, 0.1), 10px 20px 5px rgba(219, 210, 210, 0.05), -10px 20px 5px rgba(240, 202, 202, 0.05);
}/*# sourceMappingURL=style.css.map */