
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Unica+One&display=swap");

$font: "Unica One";
$bigFont: "Audiowide";
$opacity: rgb(0, 0, 0, 0.8);
$background: #17102d;
$background-light: #251f38;

$grey: hsl(0, 0%, 69%);
$cyan: hsl(180, 100%, 50%);
$pink: rgb(255, 0, 255);
$yellow: hsl(60, 100%, 50%);

h1 {
    font-family: $bigFont;
    font-size: clamp(3rem, 8vw, 10rem);
}

h2 {
    font-size: clamp(2.5rem, 5vw, 4rem);
}

h3 {
    font-size: clamp(1rem, 5vw, 1.2rem);
}

