
#home-container {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("/images/planet-rings.png") no-repeat center center/cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
  margin-top: -30px;  // fixes unknown space on top
  &:after {
      @include fade; 
      height: 70%;
      }
  & #title {

      text-align: center;
      color: white;
      & h2 {
        margin: -2em 0 2em 0;
      }
  }
}

