@use '../styles/variables' as *;

section#contact {
    @include flex;
    @include lg {
      margin-top: 50vh;   
    }
  }

  .contact-container {
    @include flex;
    justify-content: space-around;
    position: relative;
    height: 70vh;
    width: 70vw;
    margin-top: 10vh;
    z-index: 3;
    color: white;
    text-transform: uppercase;
    & h2 {
      position: absolute;
      font-size: 2.5rem;
      left: 10%;
      top: 5%;
    }
    @include glass;
    background: rgb(0,255,255);
    background: radial-gradient(circle, rgba(0,255,255,0.2) 0%, rgba(14,11,14,0.8687850140056023) 80%);
    @include lg {
      @include flex;
      flex-direction: column;
      justify-content: space-around;
    }
  }

  .form-wrapper {
    @include flex;
    flex-direction: column;
    width: 400px;
.form-group {
  @include text;
  @include flex;
  font-size: 1.5rem;
  flex-direction: column;
  position: relative; 
  width: 300px;
  margin-bottom: 3vh;
}
  & input {
    margin-bottom: 5vh;
  }

  & input, textarea, button{
    @include form;	
  }
 
  & label{
    width: inherit;
  color: white; 
  position: absolute;
  pointer-events: none;
  text-align: left;
  top: 0;
  left: -15%;
  transition: 0.2s ease all; 
  -moz-transition: 0.2s ease all; 
  -webkit-transition: 0.2s ease all;
  }

  & textarea{
    padding-top: 3vh;
    font-size: 1.5rem;
    height: 12vh;	
    resize: none; 
    overflow: auto;
  }

  & input:focus ~ label, input:valid ~ label, textarea:focus, textarea:valid ~ label 		{
    top: -25px;
    color: $grey;
    font-size: 1rem;
    opacity: 1;
  }
  & textarea:valid {
    color: white;
    font-size: 1.5rem;
  }
  & button {

    cursor: pointer;
    margin-top: 30px;
    z-index: 1;
    border: none;
    & i {
      margin-left: 1vw;
    }
    &:hover {
      color: white;
      transform: scale(1.1);
    }
    @include lg {
      font-size: 1.2rem;
      margin-top: -20px;
    }
  }
  }

  .highlight {
    position: absolute;
    height: 60%; 
    width: 100px; 
    top: 25%; 
    left: 0;
    pointer-events: none;
    opacity: 0.5;
  }
  
  /* active state */
  input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
  }
  
  /* ANIMATIONS ================ */
  @-webkit-keyframes inputHighlighter {
    from { background:$grey; }
    to 	{ width:0; background:transparent; }
  }
  @-moz-keyframes inputHighlighter {
    from { background:$grey; }
    to 	{ width:0; background:transparent; }
  }
  @keyframes inputHighlighter {
    from { background:$grey; }
    to 	{ width:0; background:transparent; }
  }
  

// ORBITING PLANET YEEHAW

$gravitation-constant: 6.673;
$t: 1.92; // Changing this will alter the orbital speed
$animation: orbit;

$planet-color: $yellow;
$moon-color: #9E9E9E;

// Orbit Function
@function orbit() {
  @return $animation $gravitation-constant * $t + s linear infinite;
}


// Use Flexbox To Center Content
.planet-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Create Our Orbit
.orbit {
  width: 300px;
  height: 300px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  position: absolute;
  border-radius: 100%;
  margin: -30px -30px;
  animation: orbit();
}

// Planet Styles
.planet {
  background: $planet-color;
  box-shadow: inset -30px -30px 0px darken($planet-color, 8%);
  width: 200px;
  height: 200px;
  border-radius: 100%;
  &:before {
    content: '';
    background: darken($planet-color, 15%);
    border-radius: 100%;
    width: 20px;
    height: 20px;
    display: block;
    margin: 50px 100px;
  }
  &:after {
    content: '';
    background: darken($planet-color, 12%);
    border-radius: 100%;
    width: 50px;
    height: 50px;
    display: block;
    margin: -20px 40px;
  }
}

// Moon Styles
.moon {
  background: $moon-color;
  box-shadow: inset -7px -7px 0 darken($moon-color, 7%);
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin: 20px;
  &:before {
    content: '';
    background: darken($moon-color, 4%);
    border-radius: 100%;
    width: 9px;
    height: 9px;
    display: inline-block;
    margin: 10px 10px;
  }
  &:after {
    content: '';
    background: darken($moon-color, 4%);
    border-radius: 100%;
    width: 9px;
    height: 9px;
    display: block;
    margin: -7px 20px;
  }
}

// Animations
@keyframes orbit {
  to {
    transform: rotate(360deg);
  }
}