@use '../styles/variables' as *;

section#skills {
    position: relative;
    background: $background;
    @include flex;
    flex-direction: column;
    & h3 {
      font-size: 1.5rem;
    }
}

.skills-container {
    @include flex;
    flex-direction: column;
    justify-content: center;
    border: red solid 2px;
    margin-top: 10vh;
    & h2 {
      margin-bottom: 6vh;
    }
@include lg {
    justify-content: center;
}
}

.grid {
    position: relative;
    @include flex;
    flex-wrap: wrap;
    @include xl {
        width: 90vw;
    }
}
.grid .hex {
    @include flex;
    position: relative;
    width: 150px;
    height: 170px;
    margin: 10px 20px 10px;
    &:before {
        content: "";
        position: absolute;
        bottom: -70px;
        width: 100%;
        height: 60px;
        background: radial-gradient(rgb(0,0,0,0.15), transparent, transparent);
        border-radius: 50%;
        transition: 0.5s;
    }
    &:hover::before {
        opacity: 0.8;
        transform: scale(0.8);
    }
    @include lg {
      width: 120px;
    height: 130px;
    }
}