@import "../../SassStyles/mixins";
@import "../../SassStyles/variables";

nav {
    position: fixed;
    top: 0;
    height: 5em;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 2;
    .nav-links {
        display: flex;
        list-style: none;
        width: 100%;
        height: 100%;
        justify-content: end;
        align-items: center;
        gap: 3em;
        margin-left: auto;
        margin-right: 4rem;
        z-index: 3;
        li .section-link {
            cursor: pointer;
            color: $cyan;
            text-decoration: none;
            font-size: 1.3rem;
            &:hover {
                color: $yellow;
            }
        }
        @include lg {
            position: fixed;
            height: 20%;
            width: 100%;
            flex-direction: column;
            clip-path: circle(100px at 90% -10%);
            -webkit-clip-path: circle(100px at 90% -10%);
            pointer-events: none;
        }
    }
}
nav.open {
    height: 100%;
    transition: all 1s ease-in-out;
    background: rgb(0, 0, 0, 0.95);
}
.nav-links.open {
    @include lg {
        clip-path: circle(3000px at 90% -10%);
        -webkit-clip-path: circle(3000px at 90% -10%);
        pointer-events: all;
    }
}

.hamburger {
    display: none;
    @include lg {
        display: block;
        position: fixed;
        cursor: pointer;
        right: 5%;
        top: 5%;
        transform: translate(-5%, -50%);
        z-index: 2;
    }
}

.hamburger .bar {
    width: 40px;
    height: 5px;
    margin: 5px;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}
.hamburger .bar:nth-child(1) {
    background: $pink;
}

.hamburger .bar:nth-child(2) {
    background: $cyan;
}

.hamburger .bar:nth-child(3) {
    background: $yellow;
}
/* Cross animation for hamburger menu */
.hamburger.open .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.open .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}
