
.link {
    display: none;
}

.nav {
    background: rgb($background, 0.98);
    border: $cyan solid 1px;
    position: fixed;
    @include flex;
    flex-direction: column;
    list-style: none;
    top: 2%;
    right: 4%;
    width: 10px;
    border-radius: 15px;
    padding: 5em 5em 2em;
    z-index: 1;
    gap: 2em;
    transition: all 0.3s ease-out;
    
    & .link {
        display: flex;
    }

    & .link a {
        color: $cyan;
        font-size: 1.3rem;
        cursor: pointer;
        &:hover {
            color: $yellow;
        }
    }
}

.hamburger {
    display: block;
    position: fixed;
    cursor: pointer;
    right: 5%;
    top: 8%;
    transform: translate(-5%, -50%);
    z-index: 2;
    border-radius: 5px;
    padding: 5px;
    @include md {
        background: $background;
    }
}


.hamburger .bar {
    width: 40px;
    height: 5px;
    margin: 5px;
    transition: all 0.4s ease-in-out;
    background-color: #fff;
}
.hamburger .bar:nth-child(1) {
    background: $pink;
}

.hamburger .bar:nth-child(2) {
    background: $cyan;
}

.hamburger .bar:nth-child(3) {
    background: $yellow;
}
/* Cross animation for hamburger menu */
.hamburger.open .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.open .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}
