@import url("https://fonts.googleapis.com/css2?family=Gugi&family=Ubuntu:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Unica+One&display=swap");

// TEST FONTS: 
@import url('https://fonts.googleapis.com/css2?family=Megrim&family=Wallpoet&family=Zen+Kurenaido&display=swap');

$font: "Unica One";
$bigFont: "Audiowide";
$fontTextarea: "Ubuntu";
$opacity: rgb(0, 0, 0, 0.8);
$background: #17102d;

$grey: hsl(0, 0%, 69%);
$cyan: hsl(180, 100%, 50%);
$pink: #ff00ff;
$yellow: hsl(60, 100%, 50%);

h1 {
    font-size: clamp(6rem, 8vw, 10rem);
}

h2 {
    font-size: clamp(1.5rem, 5vw, 3rem);
}

h3 {
    font-size: clamp(3rem, 5vw, 4rem);
}

h4 {
    font-size: clamp(1rem, 5vw, 1.2rem);
}
