// GLOBAL STYLINGS
@import "variables";
@import "mixins";
@import "bg-animation";

// SEPERATE COMPONENTS
@import "../Components/contact/contact";
@import "../Components/navbar/navbar";
@import "../Components/about/about";
@import "../Components/skills/skills";
@import "../Components/projects/projects";


.app {
    background: $background;
    @include text;
    margin: -10px;
    padding: 0;
}
