@use '../styles/variables' as *;

section#about {
    background: url("./images/astroidsMid.png") no-repeat center center/cover;
    @include flex;
}

.about-container {
    @include flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
    width: 70vw;
    padding: 100px;
    @include glass;
    background: rgba(0, 0, 0, 0.8);
    display: none;
}
.about-header {
    font-size: 3rem;
    margin-right: auto;
}
.skills-container {
    @include flex;
    justify-content: space-evenly;
    height: 20vh;
    width: inherit;
    gap: 50px;
    background: rgba(0, 0, 0, 0.3);
}
.skills {
    @include flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
    width: 100px;
    padding-bottom: 1vh;

}
.logo {
    height: 100px;
    width: inherit;
}
