@use '../styles/variables' as *;

section#contact {
    background: url("./images/space.jpg") no-repeat center center/cover;;
    @include flex;
  }
  
  .contact-container {
    position: relative;
    @include flex;
    height: 70vh;
    width: 50vw;
    background: $opacity;
    border-radius: 15px;
    color: white;
  }
  .form-wrapper {
    margin: 0 5vw 0 5vw;
.form-group {
  @include flex;
  flex-direction: column;
}
  &label, input, textarea {
  display: block; 
  }

  & input, textarea, button{
    @include form;	
  }

  & label{
    font-size: 1.5em;
    margin-top: 20px;
    padding-left: 20px;
  }

  & textarea{
    height: 12vh;	
    resize: none; 
    overflow: auto;

  }

  & input:focus, textarea:focus{
    border: solid 3px #3AB5E1;	
  }

  & button {
    height: 6vh;
    cursor: pointer;
    margin-top: 30px;
    background-color: #160E26;
    color: white;
    text-transform: uppercase;
    z-index: 1;
    & i {
      margin-right: 1vw;
    }
    &:hover{
        background-color: #3AB5E1; 
        border-color: white;   
    }
  }
  }

  .form-group {
    margin: 20px 20px;
  }
