@use '../styles/variables' as *;

section#contact {
    background: $background;
    @include flex;
  }
 
  .contact-container {
    @include flex;
    justify-content: flex-end;
    position: relative;
    background: url("./images/nebulabig.jpg") no-repeat center center/cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.8);
    height: 70vh;
    width: 70vw;
    margin-top: 60px;
    color: white;
    text-transform: uppercase;

    @include glass;

    @include lg {
      @include flex;
      flex-direction: column;
      justify-content: space-around;
    }

  }

  .contact-background {
    position: absolute;
    @include flex;
    height: 80%;
    width: 60%;
    margin-top: 10%;
    bottom: 0;
    left: 0;
    background-image: url("./images/rocket2.png");
    background-size: cover;

    & h2 {
      font-size: 4vh;
      position: absolute;
      top: -15%;
      left: 10%;
    }
    @include lg {
      display: none;
    }
  }

  .form-wrapper {
    @include flex;
    flex-direction: column;
    width: 400px;
.form-group {
  @include flex;
  flex-direction: column;
  position: relative; 
  margin-right: 10vw;
  width: 300px;
  @include lg {
    margin-bottom: 5vh;
    margin-right: 0;
  }
}
  & input {
    margin-bottom: 5vh;
  }

  & input, textarea, button{
    @include form;	
  }
 
  & label{
    width: inherit;
  color: white; 
  font-size: 0.8rem;
  position: absolute;
  pointer-events: none;
  text-align: left;
  top: 0;
  margin-left: 1vw;
  transition: 0.2s ease all; 
  -moz-transition: 0.2s ease all; 
  -webkit-transition: 0.2s ease all;
  }

  & textarea{
    padding-top: 3vh;
    height: 12vh;	
    resize: none; 
    overflow: auto;
  }

  & input:focus ~ label, input:valid ~ label, textarea:focus, textarea:valid ~ label 		{
    top: -25px;
    color: $grey;
    font-size: 1rem;
    opacity: 1;
  }
  & button {

    cursor: pointer;
    margin-top: 30px;
    z-index: 1;
    border: none;
    & i {
      margin-left: 1vw;
    }
    &:hover {
      color: white;
      transform: scale(1.1);
    }
    @include lg {
      font-size: 1.2rem;
      margin-top: -20px;
    }
  }
  }

  .highlight {
    position: absolute;
    height: 60%; 
    width: 100px; 
    top: 25%; 
    left: 0;
    pointer-events: none;
    opacity: 0.5;
  }
  
  /* active state */
  input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
  }
  
  /* ANIMATIONS ================ */
  @-webkit-keyframes inputHighlighter {
    from { background:$grey; }
    to 	{ width:0; background:transparent; }
  }
  @-moz-keyframes inputHighlighter {
    from { background:$grey; }
    to 	{ width:0; background:transparent; }
  }
  @keyframes inputHighlighter {
    from { background:$grey; }
    to 	{ width:0; background:transparent; }
  }
  