@use '../styles/variables' as *;


@media (min-width: 768px){
    #hamburger {
       display: none;
     } 
   }
   @media (max-width: 768px){ 
     .navbar ul li a {
       display: none;
     }

    .form-wrapper {
    & label{
      font-size: 1rem;	
    }
   } }