@use "../styles/variables" as *;

.navbar {
    display: flex;
    align-items: center;
    @include text;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    width: 500px;
    height: 30px;
    background: rgb(0, 0, 0, 0.5);
    margin-top: 30px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    
    .navbar-menu {
        @include flex;
        justify-content: end;
        list-style: none;
        width: 100%;
        z-index: 1;

        li {
            margin: 0 1rem;
            padding: 1rem;
            a {
                text-decoration: none;
                color: white;

                &:hover {
                    color: skyblue;
                }
                
            }
        }
    }
}


.hamburger {
    cursor: pointer;
    width: 50px;
    height: 50px;
    position: relative;
    z-index: 1;
    left: 1vw;
    top: 1vh;
}


.hamburger .bar {
    display: block;
    width: 30px;
    height: 5px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}

/* Cross animation for hamburger menu */
.hamburger.active .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

@media (min-width: 768px) {
    .hamburger {
        display: none;
    }
}

@media (max-width: 768px) {
    .navbar.active {
        background: rgb(0, 0, 0, 0);
    }
    .navbar-menu {
        position: fixed;
        flex-direction: column;
        justify-content: flex-start;
        left: -100%;
        background: $opacity;
        height: 150vh;
        width: 100vw;
        text-align: center;
        transition: 0.4s;
        font-size: 2rem;
        li a {
            margin: 16px 0;
        }
    }
    .navbar-menu.active {
        left: 0;
    }
}
