@use "../styles/variables" as *;

section#projects {
    background: url("./images/astroidsBtm.png") no-repeat center center/cover;
}
.project-wrapper {
    @include flex;
    justify-content: space-between;
    height: 50vh;
    width: 80vw;
    gap: 1vw;
}
.project-card-border {
    width: 400px;
    height: 250px;
    clip-path: polygon(0% 20%, 15% 0%, 100% 0%, 100% 80%, 85% 100%, 0% 100%);
    border: lightblue 2px solid;
    background: lightblue;
    &:hover {
        flex-grow: 2;
        transition: all 1s ease-in-out;
    }
}
.project-card {
    width: 395px;
    height: 245px;
    clip-path: polygon(0% 20%, 15% 0%, 100% 0%, 100% 80%, 85% 100%, 0% 100%);
    border: lightblue 2px solid;
    background: black;
}