@use '../styles/variables' as *;

section#projects {
    background: url("./images/astroidsBtm.png") no-repeat center center/cover;;
  }

  .project-wrapper {
    position: relative;
    @include flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
  }
  
  
  .project-card {
    height: 50vh;
    width: 100px;
    gap: 40px;
    background: rgb(242, 227, 227, 0.7);

  }

