
@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Ubuntu:wght@500&display=swap');


$font: "Gugi";
$fontTextarea: "Ubuntu";
$opacity: rgb(0,0,0,0.8);

@mixin text {
    text-transform: uppercase;
    font-family: "Gugi";
    color: #faf5f5;
  }
  @mixin flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @mixin form {
    width: 31vw;
    border: none;
    border-radius: 20px;
    outline: none;
    padding: 10px;
    font-size: 1em;
    color: #160E26;
    transition: border 0.5s;
    border: solid 3px #7E53A2;
  }
  