@import url("https://fonts.googleapis.com/css2?family=Gugi&family=Ubuntu:wght@500&display=swap");
section#contact {
  background: url("./images/space.jpg") no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  width: 50vw;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  color: white;
}

.form-wrapper {
  margin: 0 5vw 0 5vw;
}
.form-wrapper .form-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.form-wrapperlabel, .form-wrapper input, .form-wrapper textarea {
  display: block;
}
.form-wrapper input, .form-wrapper textarea, .form-wrapper button {
  width: 31vw;
  border: none;
  border-radius: 20px;
  outline: none;
  padding: 10px;
  font-size: 1em;
  font-family: "Ubuntu";
  text-transform: none;
  transition: border 0.5s;
  border: solid 3px #7E53A2;
}
.form-wrapper label {
  font-size: 1.5em;
  margin-top: 20px;
  padding-left: 20px;
}
.form-wrapper textarea {
  height: 12vh;
  resize: none;
  overflow: auto;
}
.form-wrapper input:focus, .form-wrapper textarea:focus {
  border: solid 3px #3AB5E1;
}
.form-wrapper button {
  height: 6vh;
  cursor: pointer;
  margin-top: 30px;
  background-color: #160E26;
  color: white;
  text-transform: uppercase;
  z-index: 1;
}
.form-wrapper button i {
  margin-right: 1vw;
}
.form-wrapper button:hover {
  background-color: #3AB5E1;
  border-color: white;
}

.form-group {
  margin: 20px 20px;
}

@media (min-width: 768px) {
  #hamburger {
    display: none;
  }
}
@media (max-width: 768px) {
  .navbar ul li a {
    display: none;
  }
  .form-wrapper label {
    font-size: 1rem;
  }
  .project-card {
    transform: rotate(90deg);
  }
}
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
  background: rgb(5, 5, 5);
  text-transform: uppercase;
  font-family: "Gugi";
  color: #faf5f5;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.container {
  min-height: 100%;
  min-width: 100%;
}

.lead {
  font-size: 1.5rem;
}

.navbar {
  text-transform: uppercase;
  font-family: "Gugi";
  color: #faf5f5;
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 60px;
  background: rgba(0, 0, 0, 0.8);
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: end;
  list-style: none;
  width: 100%;
}

.navbar ul li {
  margin: 0 1rem;
  padding: 1rem;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
}
.navbar ul li a:hover {
  color: skyblue;
}

#hamburger {
  left: 3vw;
  position: absolute;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
  flex-direction: column;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

section h1 {
  text-transform: uppercase;
  font-family: "Gugi";
  color: #faf5f5;
  font-size: 4rem;
}

section#home {
  background: url("./images/astroidsTop.png") no-repeat center center/cover;
}

#header {
  text-shadow: 0px 15px 5px rgba(232, 221, 221, 0.1), 10px 20px 5px rgba(219, 210, 210, 0.05), -10px 20px 5px rgba(240, 202, 202, 0.05);
}

section#about {
  background: url("./images/astroidsMid.png") no-repeat center center/cover;
}

section#projects {
  background: url("./images/astroidsBtm.png") no-repeat center center/cover;
}

.project-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-left: 5vw;
}

.project-card {
  height: 50vh;
  width: 20vw;
  -webkit-clip-path: polygon(25% 0%, 75% 0, 50% 100%, 0% 100%);
          clip-path: polygon(25% 0%, 75% 0, 50% 100%, 0% 100%);
  background: rgba(242, 227, 227, 0.7);
}/*# sourceMappingURL=style.css.map */