@import url("https://fonts.googleapis.com/css2?family=Gugi&family=Ubuntu:wght@500&display=swap");
/*  MEDIA QUERIES */
/* mixin for specific breakpoint (flexible) */
section#about {
  position: relative;
  background: rgb(14, 11, 14);
  display: flex;
  align-items: center;
  justify-content: center;
}
section#about:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-image: url("./images/nebula-fixed.jpg") no-repeat center center/cover;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(14, 11, 14) 100%);
  height: 30%;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  height: 80vh;
  width: 70vw;
  padding: 100px;
  background: rgba(255, 255, 255, 0.03);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  background: rgba(0, 0, 0, 0.8);
  display: none;
}

.about-header {
  font-size: 3rem;
  margin-right: auto;
}

.skills-container {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  height: 20vh;
  width: inherit;
  gap: 50px;
  background: rgba(0, 0, 0, 0.3);
}

.skills {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
  width: 100px;
  padding-bottom: 1vh;
}

.logo {
  height: 100px;
  width: inherit;
}

section#contact {
  background: rgb(14, 11, 14);
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-end;
  position: relative;
  background: url("./images/nebulabig.jpg") no-repeat center center/cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.8);
  height: 70vh;
  width: 70vw;
  margin-top: 10vh;
  z-index: 3;
  color: white;
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.03);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}
@media (max-width: 960px) {
  .contact-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-around;
  }
}

.contact-background {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 60%;
  margin-top: 10%;
  bottom: 0;
  left: 0;
  background-image: url("./images/rocket2.png");
  background-size: cover;
}
.contact-background h2 {
  font-size: 4vh;
  position: absolute;
  top: -15%;
  left: 10%;
}
@media (max-width: 960px) {
  .contact-background {
    display: none;
  }
}

.form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 400px;
}
.form-wrapper .form-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  margin-right: 10vw;
  width: 300px;
}
@media (max-width: 960px) {
  .form-wrapper .form-group {
    margin-bottom: 5vh;
    margin-right: 0;
  }
}
.form-wrapper input {
  margin-bottom: 5vh;
}
.form-wrapper input, .form-wrapper textarea, .form-wrapper button {
  font-family: "Gugi";
  text-transform: uppercase;
  font-size: 0.8rem;
  height: 25px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  outline: none;
  border-bottom: 1px solid #B1B1B1;
  color: white;
  background: rgba(0, 0, 0, 0);
  transition: 0.2s ease;
}
.form-wrapper label {
  width: inherit;
  color: white;
  font-size: 0.8rem;
  position: absolute;
  pointer-events: none;
  text-align: left;
  top: 0;
  margin-left: 1vw;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.form-wrapper textarea {
  padding-top: 3vh;
  height: 12vh;
  resize: none;
  overflow: auto;
}
.form-wrapper input:focus ~ label, .form-wrapper input:valid ~ label, .form-wrapper textarea:focus, .form-wrapper textarea:valid ~ label {
  top: -25px;
  color: #B1B1B1;
  font-size: 1rem;
  opacity: 1;
}
.form-wrapper button {
  cursor: pointer;
  margin-top: 30px;
  z-index: 1;
  border: none;
}
.form-wrapper button i {
  margin-left: 1vw;
}
.form-wrapper button:hover {
  color: white;
  transform: scale(1.1);
}
@media (max-width: 960px) {
  .form-wrapper button {
    font-size: 1.2rem;
    margin-top: -20px;
  }
}

.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@keyframes inputHighlighter {
  from {
    background: #B1B1B1;
  }
  to {
    width: 0;
    background: transparent;
  }
}
nav {
  position: fixed;
  top: 0;
  height: 10vh;
  width: 100vw;
  display: flex;
  align-items: center;
  z-index: 2;
}
nav .nav-links {
  display: flex;
  list-style: none;
  width: 30%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  margin-right: 2vw;
}
nav .nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}
@media (max-width: 720px) {
  nav .nav-links li a {
    font-size: 3rem;
  }
}
nav .nav-links li a:hover {
  color: lightblue;
}
@media (max-width: 960px) {
  nav .nav-links {
    position: fixed;
    height: 70vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -10%);
    pointer-events: none;
  }
}

nav.open {
  height: 100vh;
  transition: all 1s ease-in-out;
  background: rgba(0, 0, 0, 0.9);
}

@media (max-width: 960px) {
  .nav-links.open {
    clip-path: circle(3000px at 90% -10%);
    -webkit-clip-path: circle(3000px at 90% -10%);
    pointer-events: all;
  }
}

.hamburger {
  display: none;
}
@media (max-width: 960px) {
  .hamburger {
    display: block;
    position: fixed;
    cursor: pointer;
    right: 5%;
    top: 5%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }
}

.hamburger .bar {
  width: 30px;
  height: 3px;
  margin: 5px;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

/* Cross animation for hamburger menu */
.hamburger.open .bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.open .bar:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

section#projects {
  background: rgb(14, 11, 14);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  display: grid;
  justify-self: center;
  overflow-y: scroll;
  overflow-x: hidden;
}

.project-wrapper {
  height: 80vh;
  width: 100vw;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-content: center;
  padding: 50px;
  margin: 10vh 5vw 0 5vw;
  grid-gap: 40px;
}

.card {
  justify-self: center;
  cursor: pointer;
  background-color: #1c1b29;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
  height: 300px;
  width: 400px;
  border: yellow solid 1px;
}
@media (max-width: 960px) {
  .card {
    width: 300px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
  background: rgb(14, 11, 14);
  text-transform: uppercase;
  font-family: "Gugi";
  color: #faf5f5;
  z-index: 2;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.container {
  min-height: 100%;
  min-width: 100%;
}

.lead {
  font-size: 1.5rem;
}

.satellite {
  background: url("./images/satellite1.png") no-repeat center center/cover;
  height: 30px;
  width: 40px;
  position: relative;
  transition: all 30s linear;
  z-index: 999;
  animation: rotation 30s infinite;
}
@keyframes rotation {
  100% {
    transform: rotate(360deg);
  }
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
  text-align: center;
  width: 100vw;
  height: 100vh;
  /* box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7); */
}

section h1 {
  text-transform: uppercase;
  font-family: "Gugi";
  color: #faf5f5;
  z-index: 2;
  font-size: 4rem;
  z-index: 2;
}

section#home {
  flex-direction: column;
  position: relative;
  background: url("./images/nebula.jpg") no-repeat center center/cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.8);
}

.header {
  position: absolute;
  height: 20vh;
  width: 100vw;
  bottom: 0;
  background: url("./images/nebula.jpg") no-repeat bottom center/cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.8);
  z-index: 1;
}
.header:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(14, 11, 14) 100%);
  height: 100%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

#title {
  text-shadow: 0px 15px 5px rgba(232, 221, 221, 0.1), 10px 20px 5px rgba(219, 210, 210, 0.05), -10px 20px 5px rgba(240, 202, 202, 0.05);
}/*# sourceMappingURL=style.css.map */